.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 998; 
    transition: opacity 0.3s ease;
}

nav {
  background: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 3.5625rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  transition: transform 0.3s ease;

}


nav.hide {
  transform: translateY(-100%);
}



.logo_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;

  .close {
    font-size: 2.3rem;
    display: none;
  }


  .logo2 {
    display: none;
  }

}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  .list_item {
    color: #000000;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    height: 56px;

    svg {
      margin-top: 1px;
    }
  }

}



.dropdownMenu {
  display: none;
  position: absolute;

  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #E9E9E9;
  width: 176px;
  z-index: 999;
  padding: 12px 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;

    li {
      padding-block: 0.5rem;
      border-bottom: 1px solid #f0f0f0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      color: #000000;
      box-sizing: border-box;
      font-size: 0.812rem;

    }


    li:last-child {
      border-bottom: none;
    }

    li>span {
      transition: all .1s ease;

    }

    li:hover span {
      color: #969696;
      margin-left: 0.5rem;
    }
  }
}


ul .list_item:nth-child(2):hover .dropdownMenu {
  display: flex;

}




@media(max-width: 660px) {
  nav {
    width: 20rem;
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem 0;
    left: 0;
    top: 0;
    height: 43rem;
    transform: translateX(-100%);

    .logo_div {
      display: flex;
      padding-inline: 1.25rem;
      padding-bottom: 1.56rem;
      border-bottom: 2px solid #969696;

      .logo2,
      .close {
        display: flex;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      padding:0.87rem 1.25rem;
      gap: 0;

      .list_item {
        border-bottom: 1px solid #969696;
        padding: 1rem 0;
        width: 100%;
        height: auto;

      }

      .list_item:last-child{
        border:none ;
      }

      .list_item:nth-child(2):hover {
        position: static;
        display: grid;
        grid-template-columns: 2rem auto;
        grid-template-rows: repeat(2, auto);
        align-items: center;
        justify-content: start;
        column-gap: 5px;

        svg{
          justify-self: flex-start;
        }
      
        .dropdownMenu{
          position: static;
          grid-column: 1/3;
          border: none;
          padding: 0.625rem;
          ul{
            padding: 0;
          }

        }
      }
    }


  }

  nav.open {
    display: flex;
    transform: translateX(0);
  }
}